In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools

In [20]:
df = pd.read_csv("/Users/ryantang/Desktop/Course Scheduling STEM project 2023.xlsx - fall co enrolment data.csv")
df

   Combination: Unnamed: 1  Fall 2022  Fall 2021  Fall 2019  mean
0       BIO 105   PHYS 110          1          0          0   NaN
1       BIO 105   MATH 120          2          2          0   NaN
2       BIO 105   MATH 110          1          2          2   NaN
3       BIO 105   CHEM 120          2          2          2   NaN
4       BIO 105   CHEM 130          0          1          0   NaN
5       BIO 105    BIO 130          1          1          1   NaN
6       BIO 105   MATH 114          0          0          1   NaN
7       BIO 115   CHEM 120          3          5         13   NaN
8       BIO 115   CHEM 130          0          0          2   NaN
9       BIO 115   MATH 110          1          1          1   NaN
10      BIO 115   MATH 114          2          0          2   NaN
11      BIO 115   MATH 120          0          0          2   NaN
12      BIO 115   MATH 128          0          0          2   NaN
13      BIO 115   PHYS 110          0          0          1   NaN
14      BIO 115   PHYS 230          0          0          1   NaN
15      BIO 130   CHEM 120          3          2          4   NaN
16      BIO 130   CHEM 130          1          0          0   NaN
17      BIO 130   MATH 110          0          0          4   NaN
18      BIO 130   MATH 120          4          1          1   NaN
19      BIO 130   MATH 128          0          0          1   NaN
20     CHEM 120   MATH 110          8         15         11   NaN
21     CHEM 120   MATH 120          4          2          6   NaN
22     CHEM 120   MATH 114          4          0         11   NaN
23     CHEM 120   MATH 128          0          0          3   NaN
24     CHEM 120   PHYS 110          2          0          1   NaN
25     CHEM 130   MATH 110          2          1          2   NaN
26     CHEM 130   MATH 114          1          0          0   NaN
27     CHEM 130   MATH 120          0          1          2   NaN
28     CHEM 130   MATH 128          0          0          3   NaN
29     CHEM 130   PHYS 110          1          0          1   NaN
30     CHEM 130   PHYS 230          0          0          3   NaN
31     MATH 110   PHYS 110          6          4          7   NaN
32     MATH 120   PHYS 110          3          2          3   NaN
33     MATH 120   PHYS 115          1          1          1   NaN
34     MATH 114   PHYS 110          5          3          3   NaN
35     MATH 128   PHYS 110          0          0          2   NaN
36     MATH 128   PHYS 115          0          0          1   NaN

In [21]:
def averages(df: pd.DataFrame):
    ranking = {}
    for i in range(37):
        mean = (df.iloc[i,2] + df.iloc[i,3] + df.iloc[i,4]) / 3
        ranking[df.iloc[i,0] + ' ' + df.iloc [i,1]] = mean
    
    sortedranking = sorted(ranking.items(), key=lambda x:x[1], reverse=True)
    return sortedranking

sortedranking = averages(df)


# make sure they do not end with a space

In [22]:
a_list = ['BIO 105','CHEM 120','PHYS 110','MATH 110']

def combine_pairs(my_list: list[str]):
    a = list(itertools.combinations(my_list, 2))
    y = [' '.join(i) for i in a]
    return y

def alphabetize_pairs(pair: str):
    a = pair.find(" ") + 1
    space = pair.find(" ", a)
    if pair[0] > pair[space + 1]:
        pair = pair[space + 1:] + ' ' + pair[0:space]
        return pair
        
def alphabetize_list(my_list: list[str]):
    final = []
    for i in range(len(my_list)):
        space_1 = my_list[i].find(" ")
        space_2 = my_list[i].find(" ", space_1 + 1)
        if my_list[i][0] > my_list[i][space_2 + 1]:
            final.append(alphabetize_pairs(my_list[i]))
        else:
            final.append(my_list[i])
    return final

def check_pairs(my_list: list[str]):
    total_coenrolls = 0
    for i in range(len(sortedranking)):
        for j in range(len(my_list)):
            if sortedranking[i][0] == my_list[j]:
                total_coenrolls += sortedranking[i][1]
                print(sortedranking[i][0] + " ("  + str(sortedranking[i][1]) + ")")
    return total_coenrolls

def list_to_score(my_list: list[str]):
    return check_pairs(alphabetize_list(combine_pairs(a_list)))
list_to_score(a_list)

CHEM 120 MATH 110 (11.333333333333334)
MATH 110 PHYS 110 (5.666666666666667)
BIO 105 CHEM 120 (2.0)
BIO 105 MATH 110 (1.6666666666666667)
CHEM 120 PHYS 110 (1.0)
BIO 105 PHYS 110 (0.3333333333333333)

22.0

In [23]:
fall_2019 = pd.read_csv("/Users/ryantang/Desktop/coding/uptodate/fall 2019.csv")
fall_2021 = pd.read_csv("/Users/ryantang/Desktop/coding/uptodate/fall 2021.csv")
fall_2022 = pd.read_csv("/Users/ryantang/Desktop/coding/uptodate/fall 2022.csv")
spring_2020 = pd.read_csv("/Users/ryantang/Desktop/coding/uptodate/spring 2020.csv")
spring_2022 = pd.read_csv("/Users/ryantang/Desktop/coding/uptodate/spring 2022.csv")
spring_2023 = pd.read_csv("/Users/ryantang/Desktop/coding/uptodate/spring 2023.csv")

In [24]:
def courseDictGen(totaldf):
    courseCounts = {}
    courseCounts['Courses'] = []
    for i in range(totaldf.shape[0]):
        newDict = {}
        newDict['Name'] = totaldf.iloc[i, 3] + ' ' + totaldf.iloc[i, 4]
        newDict['Course Type'] = totaldf.iloc[i,6]
        newDict['Days'] = totaldf.iloc[i,9]
        newDict['Time'] = totaldf.iloc[i,10] + "-" + totaldf.iloc[i,11]
        courseCounts['Courses'].append(newDict)
    return courseCounts


def ScheduleGenerate(CourseDict):
    Schedule = {}
    for i in range(len(CourseDict['Courses'])):
        if CourseDict['Courses'][i]['Course Type'] == 'Lecture':
            a = CourseDict['Courses'][i]['Time']
            b = CourseDict['Courses'][i]['Name']
            c = CourseDict['Courses'][i]['Days']
            if a + c in Schedule:
                Schedule[a + c].append(b)
            else:
                Schedule[a + c] = [b]
    return Schedule

ScheduleGenerate(courseDictGen(fall_2022))

#print(totaldf.iloc[0,6])

{'10:05am-11:30amTR': ['BIO 105', 'BIO 115'],
 '01:30pm-02:55pmTR': ['BIO 105'],
 '09:35am-10:30amMWF': ['BIO 115',
  'BIO 130',
  'CHEM 120',
  'MATH 110',
  'PHYS 115'],
 '10:40am-11:35amMWF': ['CHEM 120', 'CHEM 130', 'PHYS 110'],
 '08:30am-09:25amMWF': ['CHEM 120', 'MATH 120', 'PHYS 125'],
 '03:00pm-03:55pmMWF': ['MATH 110', 'MATH 114'],
 '11:45am-12:40pmMWF': ['MATH 120', 'PHYS 230'],
 '01:55pm-02:50pmMWF': ['PHYS 110']}